# ===========================
# Environment
# ===========================
.env

# ===========================
# Go
# ===========================
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
coverage.out

# Build output
orderflow
bin/
dist/

# ===========================
# Go workspace
# ===========================
go.work
go.work.sum

# ===========================
# Logs
# ===========================
*.log
logs/

# ===========================
# IDE
# ===========================
.vscode/
.idea/

# macOS
.DS_Store

# ===========================
# Git
# ===========================
.git/
.github/

# ===========================
# Docker
# ===========================
docker-data/
mysql-data/
redis-data/

# ===========================
# Temporary files
# ===========================
tmp/
temp/

# ===========================
# Node (if added later)
# ===========================
node_modules/

# ===========================
# Swagger (Optional)
# Uncomment if you don't want
# generated docs in GitHub
# ===========================
# docs/